$white:#fff;
$gray1:#545454;
$gray2: #F4F4F4;
$gray3:#dedede;
$gray4: #1ea8e1;
$gray5:#71757d;
$gray6:#333333;
$gray7: #535353;
$gray8:#E9E9E9;
$gray9:#4B4D4F;
$gray10:#A9A9A9;
$gray11: #59514B;
$gray12: #4B4C4E;
$gray13: #535353;


$green1: #7bb729;
$green2: #76866b;
$green3: #466B2D;
$green4:#CCE3B2;
$green5: #88C733;
$green6: #6EA92F;
$green7:#8BC762;
$green8:#4F812D;
$green9:#67A424;
$green10: #79B529;
$green11: #476b2e;
$green12: #c5dfa7;


$blue1: #0697D3;
$blue2: #1EA7E0;
$blue3: #0597D3;

$lightBlue1: #E4F4FA;
$lightBlue2: #D4EAF3;
$lightBlue3: #F4FCFF;

