// medidas
$text:0.85em;
$text-m:0.75em;
$text-menu:1em;
$text-menu-m:0.9em;
$text-foot:0.70em;
$title:2.3em;
$title-m:1.9em;
$text-big:1.3em;
$sub-text:1.2em;
$minutos:3.5em;
// tamanio fuente
$thin:100;
$normal:300;
$paragraph:1.1em;

$bold:400;

$height-form:32px;
